.section {
  padding: 75px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  display: flex;
  width: 1000px;
  background-color: rgb(240, 236, 236);
  border-radius: 5px;
}

.name {
  font-weight: 700;
  font-size: 24px;
}

.genreName {
  font-weight: 600;
  font-size: 18px;
}

.poster {
  margin-right: 30px;
}

.navLinks {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.item + .item {
  margin-left: 20px;
}
